@model IEnumerable<Nexflix.Models.Movie>

@{
    ViewBag.Title = "GetMoviesByCategory";
}

<h2>Películas por Categoría</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ranking)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ranking)
        </td>
    </tr>
}

</table>

@Html.ActionLink("Regresar", "ShowCategories")